/*PC: width >1330px*/
@media only screen and (min-width: 1330px) {
  .doctor-detail-container {
    height: fit-content;
    .intro-doctor {
      margin: 0 100px;
      display: flex;
      .content-left {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: 10px 20px;
      }
      .content-right {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        .up {
          font-size: 20px;
          font-weight: 600;
          padding-top: 15px;
        }
        .down {
          padding-top: 10px;
          .like-share-plugin {
            margin: 10px 0 20px 0;
          }
        }
      }
    }
    .schedule-doctor {
      margin: 0 100px;
      display: flex;
      padding: 10px 0 20px 0;
      min-height: 200px;
      .content-left {
        width: 50%;
      }
      .content-right {
        width: 50%;
      }
    }
    .detail-doctor {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;

      background: #f9f9f9;
      padding: 10px 100px;
      h1,
      h2,
      h3 {
        font-size: 17px;
      }
      img {
        width: 100%;
      }
    }
    .comment-doctor {
      padding: 10px 100px;
    }
  }
}
/*Tablet: width >=740px AND width< 1329*/
@media only screen and (min-width: 740px) and (max-width: 1329px) {
  .doctor-detail-container {
    height: fit-content;
    .intro-doctor {
      display: flex;
      margin: 0 100px;
      .content-left {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: 10px 20px;
      }
      .content-right {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        .up {
          font-size: 20px;
          font-weight: 600;
          padding-top: 15px;
        }
        .down {
          padding-top: 10px;
          .like-share-plugin {
            margin: 10px 0 20px 0;
          }
        }
      }
    }
    .schedule-doctor {
      margin: 0 100px;
      display: flex;
      padding: 10px 0 20px 0;
      min-height: 200px;
      .content-left {
        width: 50%;
      }
      .content-right {
        width: 50%;
      }
    }
    .detail-doctor {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;

      background: #f9f9f9;
      padding: 10px 100px;
      h1,
      h2,
      h3 {
        font-size: 17px;
      }
      img {
        width: 100%;
      }
    }
    .comment-doctor {
      padding: 10px 100px;
    }
  }
}
/*Mobile: width <740px*/
@media only screen and (max-width: 739px) {
  .doctor-detail-container {
    height: fit-content;
    .intro-doctor {
      display: flex;
      .content-left {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: 10px 20px;
      }
      .content-right {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        .up {
          font-size: 20px;
          font-weight: 600;
          padding-top: 15px;
        }
        .down {
          padding-top: 10px;
          .like-share-plugin {
            margin: 10px 0 20px 0;
          }
        }
      }
    }
    .schedule-doctor {
      margin: 0 10px;
      display: flex;
      padding: 10px 0 20px 0;
      min-height: 200px;
      .content-left {
        width: 50%;
      }
      .content-right {
        width: 50%;
      }
    }
    .detail-doctor {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      background: #f9f9f9;
      padding: 10px 10px;
      h1,
      h2,
      h3 {
        font-size: 17px;
      }
      img {
        width: 100%;
      }
    }
    .comment-doctor {
      padding: 10px 100px;
    }
  }
}
