.profile-doctor-container{

    .intro-doctor{
        display: flex;
        .content-left{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
        .content-right{
            padding-left: 10px;
            width: calc(100% - 80px);
            display: flex;
            flex-direction: column;
            .up{
                padding-top: 10px;
                font-weight: 600;
            }
            .down{
                text-align: justify;
            }
        }
    }
    .price{
        border: 1px solid #ccc;
        width: 250px;
        margin: 0px 0px 5px 90px ;
        min-width: 100px;
        display: flex;
        align-items: center;
        padding: 5px 5px;
        justify-content: center;
        border-radius: 2px;
        gap: 10px;
        flex-wrap: wrap;
        span{
            .far{
                font-weight: 600;
                color: rgb(117, 183, 249);
            }
        }
        .price-blue{
            text-transform: capitalize;
            font-size: 14px;
            color: rgb(117, 183, 249);
            font-weight: 600;
            display: flex;
            flex-wrap: wrap;
            .price-text{
                padding-right: 5px;
            }
        }
    }
}